  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  /*Collapsible FAQ*/
.faq ul li {
    display:block;
    padding:5px;
}
.faq ul li  a{
    color: #91179e;
}

.faq ul li div {
    display:none;
}

.faq ul li div:target {
    display:block;
}

.page-footer {
    color: #6a1b9a !important;
    background-color: #fff !important;
    text-align: center !important;
  }